<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="/home/agilesoda/logs"/>
    <property name="FILE_NAME" value="app-logs-ycbank"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level][%F:%line] : %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logstash JSON 형식으로 파일 로그 생성 -->
    <!-- 5MB 초과, 날짜 변경 시점마다 생성, 생성된지 3일 이상된 파일은 삭제 -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${FILE_NAME}-json.log</File>
        <!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread][%F:%line] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${FILE_NAME}_%d{yyyy-MM-dd}.%i.json</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.agilesoda.ycbank" level="debug" additivity="true">
        <appender-ref ref="JSON_FILE"/>
    </logger>

    <!-- INFO 레벨 이하 로그를 파일로 출력 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="JSON_FILE" />-->
    </root>

</configuration>
