<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="css/style.css">-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>EduSoDA - 마이페이지</title>
</head>
<body>
    <div class="container">
        <div class="gnb">
            <div class="left_wrap">
                <div class="logo" onclick="moveMain()" style="cursor: pointer"></div>
                <div class="sys_name" onclick="moveMain()" style="cursor: pointer">EduSoDA</div>
            </div>
            <div class="right_wrap">
                <div class="user" id="user_open_btn">
                    <div class="user_modal" id="user_modal">
                        <ul>
                            <li onclick="moveMypage()">마이페이지</li>
                            <li id ="logout">로그아웃</li>
                        </ul>
                    </div>
                </div>
                <div class="help" id="help"></div>
            </div>            
        </div>
        <div class="content mypage">
            <div class="mypage_wrap">
                <h1>마이페이지</h1>
                <div class="userinfo_box">
<!--                    <p class="name">나는 옥수동 수학귀신님, 환영합니다.</p>-->
                    <div class="name"><span id="s_name"></span> 님, 환영합니다.</div>
                    <div class="info">
                        <div>
                            <div><span>학교</span><span id="org-name"></span></div>
                            <div><span id="s_grd"></span><span id="s_classnm"></span></div>
                        </div>
                        <div>
                            <div><span>담당선생님</span><span id="teacher_nm"></span></div>
                        </div>
                    </div>
                </div>  
                <div class="content_box">
                    <div class="content_title">
                        <span class="title">비밀번호 변경</span>
                        <span class="btn" id="btn_save">저장</span>
                    </div>
                    <div class="content_body">
                        <div class="center_box password_box">
                            <div>
                                <span>현재 비밀번호</span>
                                <input type="password" value="" id="pre_password" >
                            </div>
                            <div>
                                <span>신규 비밀번호</span>
                                <input type="password" value="" id="new_password">
                            </div>
                            <div>
                                <span>신규 비밀번호 확인</span>
                                <input type="password" value="" id="new_password_ck">
                            </div>
                        </div>         
                    </div>
               </div>
            </div>  
        </div>
    </div>
    <div id="modal">
        <div class="btn_close" id="modal_close_btn"><img src="/image/btn_modal_close.svg"></div>
        <div class="icon"><img id = "icon_id"></div>
        <p id="modal_title"></p>
        <P id="modal_cotent"></P>
        <div class="btngroup">
            <button type="text" id="modal_ok_btn">확인</button>
        </div>        
    </div>
    <div id="modal_save">
        <div class="btn_close" id="save_close_btn"><img src="/image/btn_modal_close.svg"></div>
        <div class="icon"><img src="/image/icon_download.svg"></div>
        <p>사용 가이드 다운로드</p>
        <p>EduSoDA 사용 가이드 파일을 다운로드 받으시겠습니까?</p>
        <div class="btngroup">
            <button type="text" class="btn_cancel" id="save_cancel_btn">취소</button>
            <button type="text" id="save">확인</button>
        </div>
    </div>
    <div id="modal_bg"></div>

    <!--Script-->
<!--    <script type="text/javascript" src="js/S_mypage.js"></script>-->
    <script th:src="@{/js/S_mypage.js}"></script>
    <script th:src="@{/js/moveMypage.js}"></script>
    <script th:src="@{/js/insertOrgNm.js}"></script>
    <script th:src="@{/js/logout.js}"></script>
    <script th:src="@{/js/save.js}"></script>
    <script th:src="@{/js/api-lib.js}"></script>
    <script th:src="@{/js/api.js}"></script>

<!--    <script>-->
<!--        document.getElementById("btn_save").onclick = function() {-->
<!--            document.getElementById("modal").style.display="block";-->
<!--            document.getElementById("modal_bg").style.display="block";-->
<!--        }-->
<!--       -->
<!--        document.getElementById("modal_close_btn").onclick = function() {-->
<!--            document.getElementById("modal").style.display="none";-->
<!--            document.getElementById("modal_bg").style.display="none";-->
<!--        }-->

<!--        document.getElementById("modal_ok_btn").onclick = function() {-->
<!--            document.getElementById("modal").style.display="none";-->
<!--            document.getElementById("modal_bg").style.display="none";-->

<!--        }-->
<!--    </script>-->
    
</body>
</html>