<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>EduSoDA - 404</title>
</head>
<body>
<div class="container">
    <div class="gnb">
        <div class="left_wrap">
            <div class="logo"></div>
            <div class="sys_name">EduSoDA<span id="org_nm"></span></div>
        </div>
        <div class="right_wrap">
<!--            <div class="user"></div>-->
<!--            <div class="help"></div>-->
        </div>
    </div>
    <div class="content tpage">
        <div class="intro_box">
            <div class="errorbox">
                <p><img src="/image/img_error.png"></p>
                <h1>404 ERROR</h1>
                <p>죄송합니다. 페이지를 찾을 수 없습니다.</p>
                <button type="button" class="btn_purple" id="logout">로그아웃</button>
            </div>
        </div>
    </div>
</div>
<!-- script -->
<script th:src="@{/js/logout.js}"></script>
<script th:src="@{/js/api.js}"></script>
<script th:src="@{/js/api-lib.js}"></script>

</body>
</html>
